$color-primary-blue: hsl(223, 87%, 63%);

$color-blue-light: #7195f5;

$color-secondary-blue: hsl(223, 100%, 88%);
$color-secondary-red: hsl(354, 100%, 66%);

$color-neutral-light: hsl(0, 0%, 59%);
$color-neutral-dark: hsl(209, 33%, 12%);

$color-gray-light: #e5ebf2;
$color-gray-light-2: #d3d7e0;

$border-radius-default: 10rem;
// Breakpoints
$bp-larger: 90em;
$bp-medium: 35em;
$bp-smaller: 22.5em;
